<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Cars</title>
</head>
<body>
<h1>All Cars</h1>
<table border="1">
    <thead>
    <tr>
        <th>Car ID</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th>Daily Rate</th>
        <th>Available</th>
        <th>Car Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.carId}"></td>
        <td th:text="${car.make}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.dailyRate}"></td>
        <td th:text="${car.available}"></td>
        <td th:text="${car.carType}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
